/*** EXTRA FONTS ***/
@font-face {
  font-family: 'scriptina';
  src: url('fonts/SCRIPTIN.ttf');
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('fonts/proxima-nova-regular.ttf');
}

@font-face {
  font-family: 'proximanova-thin';
  src: url('fonts/proxima-nova-thin.ttf');
}

/*** BASE ***/
body {
    font-family: 'Alegreya', sans-serif;
}

/*** GRID ***/

.full-width {
    width: 1260px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 630px;
    float: left;
}

.third-width {
    width: 325px;
    float: left;
}

.quarter-width {
    width: 250px;
    float: left;
}

.two-third-width {
    width: 800px;
    float: left;
}

.button {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(86, 83, 76, 0.53);
    border: 1px;
    border-style: dashed;
    border-color: #FFFFFF;
}


/*** HEADER ***/

header {
    height: 900px;
    background-image: url('../img/hero-bg.png');
}

header h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'scriptina';
}

header h2 {
    font-size: 92px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'proximanova-thin', Georgia, serif;
    text-align: center;
}

header p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
}

#header-upper {
    background-image: url('../img/nav_bg.png');
    overflow: hidden;
}

/*** LOGO ***/

#header-logo {
    padding-top: 15px;
    padding-bottom: 25px;
    width: 140px;
}

/*** NAV ***/

nav {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 140px;

    width: 700px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 35px;
}

/*** SOCIAL MEDIA ***/

#header-social-media {
    width: 120px;
    padding-top: 25px;
    padding-bottom: 23px;
}

#header-social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-social-media ul li {
    display: inline-block;
    padding-right: 25px;
}

/*** TITLE ***/

#header-title h2 {
    padding-top: 185px;
    padding-bottom: 50px;
}

#header-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-title h3 {
    padding-top: 60px;
    padding-bottom: 70px;
}

#header-menu-button {
    margin-right: auto;
    margin-left: auto;
}

#header-divider {
    padding-top: 160px;
    width: 100%;
}

#header-divider img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: scale-down;
    height: 106px;
}

/*** CAKES ***/

#cakes {
    padding-top: 100px;
    width: 1260px;
    /*background-color: #FFFFFF;*/
    background-image: url('../img/cakes-bg.png');
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#cakes-left {
    width: 630px;
}

#cakes-left h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#cakes-left h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 40px 0px 40px 0px;
}

#cakes-left h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #A47D5E;
    margin: 0;
    padding: 0px 0px 60px 0px;
}

#cakes-left p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'proximanova-regular', Georgia, serif;'
    width: 500px;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#cakes-subdiv-container {
    width: 386px;
    margin: 0 auto;
    overflow: auto;
}

.cakes-subdiv {
    float: left;
    width: 110px;
    height: 58px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #D7D5CA;
    margin: 22px 15px;
}

.cakes-subdiv h4 {
    font-size: 24px;
    line-height: 58px;
    color: #56534C;
    text-align: center;
    padding: 0;
    margin: 0;
}

#cakes-subdiv-photo {
    float: left;
}

#cakes-subdiv-photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#cakes-quote-container {
    overflow: hidden;
    margin: 0 auto;
    width: 430px;
}

#cakes-quote-left, #cakes-quote-middle, #cakes-quote-right {
    float: left;
}

#cakes-quote-left, #cakes-quote-right {
    width: 25px;
    height: 90px;
}

#cakes-quote-right {
    padding-top: 36px;
}

#cakes-quote-middle {
    width: 260px;
    padding: 35px 60px;
}

#cakes-quote-left p, #cakes-quote-right p {
    font-family: "Times New Roman";
    font-size: 60px;
    line-height: 90px;
    color: #D7D5CA;
}

#cakes-quote-middle p {
    font-family: 'scriptina';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #A47D5E;
    padding: 0;
    margin: 0;
}

#cakes-right {
    width: 610px;
    padding: 0 10px;
    height: 578px;
}

#cakes-right img {
    width: 610px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
