/*** EXTRA FONTS ***/
@font-face {
  font-family: 'scriptina';
  src: url('fonts/SCRIPTIN.ttf');
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('fonts/proxima-nova-regular.ttf');
}

@font-face {
  font-family: 'proximanova-thin';
  src: url('fonts/proxima-nova-thin.ttf');
}

/*** BASE ***/
body {
    font-family: 'Alegreya', sans-serif;
}

/*** GRID ***/

.full-width {
    width: 1260px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 630px;
    float: left;
}

.third-width {
    width: 325px;
    float: left;
}

.quarter-width {
    width: 250px;
    float: left;
}

.two-third-width {
    width: 800px;
    float: left;
}

.button {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(86, 83, 76, 0.53);
    border: 1px;
    border-style: dashed;
    border-color: #FFFFFF;
}

.highlight {
    width: 200px;
    height: 200px;
    background-image: url('../img/pancakes-square-bg.png');
}

/*** HEADER ***/

header {
    height: 900px;
    background-image: url('../img/hero-bg.png');
}

header h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'scriptina';
}

header h2 {
    font-size: 92px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'proximanova-thin', Georgia, serif;
    text-align: center;
}

header p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
}

#header-upper {
    background-image: url('../img/nav_bg.png');
    overflow: hidden;
}

/*** LOGO ***/

#header-logo {
    padding-top: 15px;
    padding-bottom: 25px;
    width: 140px;
}

/*** NAV ***/

nav {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 140px;

    width: 700px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 35px;
}

/*** SOCIAL MEDIA ***/

#header-social-media {
    width: 120px;
    padding-top: 25px;
    padding-bottom: 23px;
}

#header-social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-social-media ul li {
    display: inline-block;
    padding-right: 25px;
}

/*** TITLE ***/

#header-title h2 {
    padding-top: 185px;
    padding-bottom: 50px;
}

#header-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-title h3 {
    padding-top: 60px;
    padding-bottom: 70px;
}

#header-menu-button {
    margin-right: auto;
    margin-left: auto;
}

#header-divider {
    padding-top: 160px;
    width: 100%;
}

#header-divider img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: scale-down;
    height: 106px;
}

/*** CAKES ***/

#cakes {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1260px;
    background-color: #FFFFFF;
    /*background-image: url('../img/cakes-bg.png');*/
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#cakes-left {
    width: 630px;
}

#cakes-left h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#cakes-left h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 40px 0px 40px 0px;
}

#cakes-left h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #A47D5E;
    margin: 0;
    padding: 0px 0px 60px 0px;
}

#cakes-left p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'proximanova-regular', Georgia, serif;
    width: 500px;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#cakes-subdiv-container {
    width: 386px;
    margin: 0 auto;
    overflow: auto;
}

.cakes-subdiv {
    float: left;
    width: 110px;
    height: 58px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #D7D5CA;
    margin: 22px 15px;
}

.cakes-subdiv h4 {
    font-size: 24px;
    line-height: 58px;
    color: #56534C;
    text-align: center;
    padding: 0;
    margin: 0;
}

#cakes-subdiv-photo {
    float: left;
}

#cakes-subdiv-photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#cakes-quote-container {
    overflow: hidden;
    margin: 0 auto;
    width: 430px;
}

#cakes-quote-left, #cakes-quote-middle, #cakes-quote-right {
    float: left;
}

#cakes-quote-left, #cakes-quote-right {
    width: 25px;
    height: 90px;
}

#cakes-quote-right {
    padding-top: 36px;
}

#cakes-quote-middle {
    width: 260px;
    padding: 35px 60px;
}

#cakes-quote-left p, #cakes-quote-right p {
    font-family: "Times New Roman";
    font-size: 60px;
    line-height: 90px;
    color: #D7D5CA;
}

#cakes-quote-middle p {
    font-family: 'scriptina';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #A47D5E;
    padding: 0;
    margin: 0;
}

#cakes-right {
    width: 610px;
    padding: 0 10px;
    height: 578px;
    position: relative;
    text-align: center;
    color: white;
}

#cakes-right img {
    width: 610px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#cakes-right p {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #C9B176;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/*** PANCAKES ***/

#pancakes {
    padding-top: 140px;
    width: 1260px;
    background-image: url('../img/pancakes-bg.png');
    display: inline-block;
    vertical-align: middle;
    height: 620px;
    position: relative;
}

#pancakes-left {
    width: 429px;
    padding-left: 95px;
}

#pancakes-rating-side {
    position: absolute;
    top: 325px;
    left: 125px;
}

#pancakes-right {
    width: 484px;
    height: 442px;
    padding-left: 60px;
    padding-top: 70px;
    background-color: #FFFFFF;
}

#pancakes-right h1 {
    font-size: 48px;
    font-weight: 700;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#pancakes-right h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #A47D5E;
    margin: 0;
    padding-bottom: 65px;
}

#pancakes-right p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'proximanova-regular', Georgia, serif;
    color: #56534C;
    margin: 0;
    padding: 0px 0px 50px 0px;
}

#pancakes-right ul {
    list-style-type: none;
    margin: 0;
    padding: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.slide-object {
    display: inline-block;
    padding-right: 30px;
}

#slide-left {
    display: inline-block;
    padding-right: 15px;
}

#slide-right {
    display: inline-block;
    padding-left: 15px;
}

#slide-end {
    padding-right: 0px;
}

#pancakes-ready {
    position: absolute;
    top: 100px;
    left: 960px;
}

.highlight h2 {
    font-size: 18px;
    font-weight: 700;
    color: #A47D5E;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.highlight h3 {
    font-size: 92px;
    line-height: 92px;
    font-weight: 700;
    color: #DFC691;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
}

.highlight h4 {
    font-size: 18px;
    font-weight: 700;
    color: #979285;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*** BREAKFAST ***/

#breakfast {
    padding-top: 80px;
    width: 1290px;
    background-image: url('../img/breakfast-bg.png');
    display: inline-block;
    vertical-align: middle;
    height: 680px;
}

#breakfast-left {
    width: 710px;
    text-align: center;
}

#breakfast-left h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#breakfast-left h5 {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #C8A593;
        padding: 0px 0px 60px 0px;
        margin: 0;
}

#breakfast-left h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#breakfast-left p {
    font-family: 'proximanova-regular', Georgia, serif;
    font-size: 16px;
    line-height: 30px;
    color: #C2BEBA;
    margin: 0;
    padding: 0px 0px 25px 0px;
}

#breakfast-left h3 {
    font-size: 36px;
    line-height: 36px;
    color: #DFC691;
    margin: 0;
    padding: 0px 0px 50px 0px;
}

#breakfast-right{
    width: 440px;
    padding-left: 110px;
}

#breakfast-paper {
    position: relative;
}

#breakfast-est {
    position: absolute;
    top: 50px;
    left: 100px;
}

#breakfast-year {
    position: absolute;
    top: 50px;
    right: 100px;
}


#breakfast-est p, #breakfast-year p {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #56534C;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#breakfast-separator {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-49%, 0%);
}

#breakfast-paper h1 {
    position: absolute;
    top: 205px;
    width: 100%;
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#breakfast-description p {
    position: absolute;
    top: 350px;
    width: 100%;
    font-family: 'proximanova-regular', Georgia, serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #56534C;
    margin: 0;
    padding: 0;
}

#breakfast-read-button {
    width: 190px;
    height: 18px;
    padding: 16px 0px;
    position: absolute;
    top: 485px;
    left: 50%;
    transform: translate(-49%, 0%);
    background-color:rgba(86, 83, 76, 0);
    border: 1px;
    border-style: solid;
    border-color: #9E9C93;
    text-align: center;
}

#breakfast-read-button p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #A47D5E;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
