/*** EXTRA FONTS ***/
@font-face {
  font-family: 'scriptina';
  src: url('fonts/SCRIPTIN.ttf');
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('fonts/proxima-nova-regular.ttf');
}

@font-face {
  font-family: 'proximanova-thin';
  src: url('fonts/proxima-nova-thin.ttf');
}

/*** BASE ***/
body {
    font-family: 'Alegreya', sans-serif;
}

/*** GRID ***/

.full-width {
    width: 1260px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 630px;
    float: left;
}

.third-width {
    width: 325px;
    float: left;
}

.quarter-width {
    width: 250px;
    float: left;
}

.two-third-width {
    width: 800px;
    float: left;
}


/*** HEADER ***/

header {
    height: 900px;
    background-image: url('../img/hero-bg.png')
}

header h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'scriptina';
}

header h2 {
    font-size: 92px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'proximanova-thin', Georgia, serif;
    text-align: center;
}

header p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
}

/*** LOGO ***/

#header-logo {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 140px;
}

/*** NAV ***/

nav {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 140px;
    background-image: url('../img/nav_bg.png');
    width: 700px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 35px;
}

/*** SOCIAL MEDIA ***/

#header-social-media {
    width: 120px;
    padding-top: 25px;
    padding-bottom: 30px;
}

#header-social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-social-media ul li {
    display: inline-block;
    padding-right: 25px;
}
